a{
    text-decoration: none;
}
#navbar{
    display: flex;
    border: 2px solid black;
    font-weight: bold;
    padding: 10px;
    justify-content: end; 
}
#navbar>div{
    margin-right: 20px;
   
}
input{
    padding: 5px;
    width: 200px;
    color: gray;
    border-color: gray;
}
#signup-form-div{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 300px;
    margin: auto;
    margin-top: 50px;
    padding: 50px;
}
#signup-form-div>h1,input,button{
    margin-top: 20px;
}
